<h1>Bo Kaap</h1>
<p>This place is really, really cool</p>
<p>The buildings are colorfull and pretty</p>
<img src="http://africagazago.com/postweb16/component/board/board_12/u_image/1289827342_82.jpg">